.DS_Store
.vscode/*
!.vscode/extensions.json
.idea
*.iml
*.code-workspace
.changelog
.history

node_modules
.yarn
package-lock.json

.eslintcache

yarn-error.log
build
coverage
.docusaurus
.cache-loader
types
test-website
test-website-in-workspace

packages/create-docusaurus/lib/
packages/lqip-loader/lib/
packages/docusaurus/lib/
packages/docusaurus-*/lib/*
packages/eslint-plugin/lib/
packages/stylelint-copyright/lib/

netlifyDeployPreview/*
changelog
!src/plugins/changelog
!netlifyDeployPreview/index.html
!netlifyDeployPreview/_redirects

_dogfooding/_swizzle_theme_tests

CrowdinTranslations_*.zip

# i18n/**/*
# !i18n/fr
# !i18n/fr/**/*

.netlify

build.tar.gz
